<link rel="import" href="../polymer/polymer.html">

<!--
`polymer-finder`


@demo demo/index.html
-->

<dom-module id="polymer-finder">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>
      <input type="text" size="20" maxlength="50" value="{{keys::input}}"/>
      <button id="search" on-click="searchKeys">Buscar</button>
    </div>
    <h2>String a buscar: [[keys]]</h2>
  </template>

  <script>
    Polymer({

      is: 'polymer-finder',

      properties: {
        keys: {
          type: String,
          value: ''
        }
      },
      searchKeys: function(e, detail){
        console.log('searchKeys', this.keys);
        this.fire('searchKeys', { value: this.keys } );
      }
    });
  </script>
</dom-module>
